<td class="sonata-list-fontawesome-field sonata-list-fontawesome-field-{{ field_description.type }}" objectId="{{ admin.id(object) }}" style="text-align: center;">
    {% if
            field_description.options.identifier is defined
        and field_description.options.route is defined
        and admin.hasAccess(field_description.options.route.name, object)
        and admin.hasRoute(field_description.options.route.name)
    %}
        <a href="{{ admin.generateObjectUrl(field_description.options.route.name, object, field_description.options.route.parameters) }}">
                <i class="{%- block field %}{{ value }}{% endblock -%}" style="font-size: 18px;"></i>
        </a>
        <br>
        {{ value }}
    {% else %}
        <i class="{{ block('field') }}" style="font-size: 18px;"></i>
        <br>
        {{ value }}
    {% endif %}
</td>
